# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Pp]ackages/
 
# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp
*.htm

 
# need include the meta of file
!*.*.meta

